body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.carousel {
    width: 80%;
    max-width: 800px;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel-slide {
    flex: 0 0 100%;
}

img {
    width: 100%;
    height: auto;
}
